/*
  ========================================
  Custom styles Home Page
  ========================================
*/

body {
  background-color: #293f50;
  color: #888;
  min-height: 100vh;
  margin: 0;
}

section {
  width: 1200px;
  margin: 0 auto;
}

p {
  font-size: 25px;
}

li {
  font-size: 25px;
}
.not-ul {
  list-style: none;
}
a:hover {
  /* color: #a9b2b9; */
  color:aqua;
}
a {
  color: #fff;
  text-decoration: none;
}
/*
  ========================================
  Primary headers
  ========================================
*/

h1, h2, h3, h4, title {
  color: #648880;
}

header {
  width: 1200px;
  margin: 0 auto;
}

.left-column {
  width: 360px;
  float: left;
}

.right-column {
  width: 840px;
  float: left;
}

.tagline {
  text-align: right;
}

.primary-nav {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.logo {
  float: left;
  color: #fff;
}

/*
  ========================================
  photos/images
  ========================================
*/

img.home {
  width: 300px;
  margin-top: 19.2px;
}
img.puppy {
  height: 550px;
  width: 700px;
}

img.hobbies, .home {
  background: #eaeaed;
  border: 1px solid #9799a7;
  border-radius: 5px;
}

